.tickets {
  width: 100%;
  height: 100%;
  .map-container {
    position: relative;
    width: 100%;    
    height: 50%;
    left: 0;
    z-index: -10;
  }
  .firefly {
    width: 70px;
    height: 70px;
    position: fixed;
    left: 0;
    top: 15;
    z-index: 3;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .ticket-bottom {
    width: 100%;
    height: 30%;
    position: relative;
    background-color: #ffffff;
    bottom: 0;
    z-index: -5;
    padding: 0;
    margin: 0;
    ion-row{
      padding: 0;
      margin: 0;     
    }
    .completed{
      color: #ff0000;
    }

    itinerary:before {
      content: '';
      width: 95%;
      height: 1px;
      left: 2.5%;
      position: absolute;
      border-bottom: 1px solid lightgray;
      top: -1px;
      z-index: 0;
    }
    ion-list > .item:last-child, ion-list > .item-wrapper:last-child .item {
      border-bottom: none;
    }
  }
}