<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tickets</ion-title>
    <ion-buttons end>
      <button (click)="presentModal()">
        <!-- Todo: Click and navigate to another view of model to show ticket history -->
        History
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- this is an attempt for a custom back button, in order to skip the buy ticket page-->
<!--<ion-header >
  <ion-toolbar>
    <ion-buttons left>
    <button royal (click)="onBack();" >
      <ion-icon name="ion-arrow-left-c" style="color: red;"></ion-icon>
    </button>
  </ion-buttons>
    <ion-title>Acitive Ticket</ion-title>
  </ion-toolbar>
</ion-header>-->


<ion-content class="tickets">
  <div class="map-container">
  <div *ngIf="!isCompleted" class=firefly (click)="onFireFly()">
    <img src="img/firefly.gif">
  </div>
    <map [map_name]="mapName"></map>
  </div>


  <div class="ticket-bottom" *ngIf="ticketsService.ticket">
    <ion-row center>
      <ion-col width-60>
        <h5>{{ ticketsService.ticket.destination }}</h5>
        <p class="journey-details">
          <ion-icon name="ios-time-outline"></ion-icon>
          {{ ticketsService.ticket.transit_duration / 60 | number:'2.0-0' }} min
          <span>€ {{ ticketsService.ticket.transit_fare }}</span>
          <ion-icon name="ios-person-outline"></ion-icon> {{ ticketsService.ticketn_persons }}
        </p>
        <!--<h1 text-center *ngIf="!completedMessage">
          {{ time.hours }}:{{ time.minutes }}:{{ time.seconds }}:{{ time.milliseconds }}
        </h1>-->
        <h1 text-center *ngIf="completedMessage" [class.completed]="isCompleted" >
          Ticket {{completedMessage}}
        </h1>

      </ion-col>
      <ion-col width-33>
        <img *ngIf="!isCompleted" class="qr-code" src= {{qrcode_url}} item-right>
      </ion-col>
    </ion-row>
    <itinerary
    [itinerary]="itinerary"
    ></itinerary>
    <span *ngIf="distance" >distance to destination = {{distance}}km </span>
  </div>
</ion-content>
