<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="about">
  <ion-list>

    <ion-item (click)="openTerms()">
      <ion-icon *ngIf="icons" name="attach" item-left></ion-icon>
      Terms and Conditions
      <ion-icon name="arrow-right" item-right></ion-icon>
    </ion-item>

    <ion-item (click)="openPrivacy()">
      <ion-icon *ngIf="icons" name="lock" item-left></ion-icon>
      Privacy Statement
      <ion-icon name="arrow-right" item-right></ion-icon>
    </ion-item>

  </ion-list>
</ion-content>
