<ion-header>
  <ion-navbar>
    <ion-title>Quotation</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="quotation">
  <!--<div class="map-container">
    <map [map_name]="mapName"></map>
  </div>-->
  <div class="journey-details">
    <ion-row padding>
      <ion-col>
        <h2>
          <span>{{ plan.request.transit_departure_time | slice:11:16 }} {{ plan.plan.transit.response.routes[0].legs[0].steps[0].html_instructions }}</span>
        </h2>

        <p class="journey-details">
          <span *ngFor="let mode of transitModesList">
            <ion-icon [name]="mode.icon" style="padding-right: 2px;"></ion-icon>{{ mode.text }}
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
          </span>
        </p>
        <p class="journey-details">
          <span><ion-icon name="ios-time-outline"></ion-icon> {{ plan.request.transit_duration / 60 | roundtime }} min</span>
          <span>{{ plan.plan.transit.total_fare_plan.fare ? (plan.plan.transit.total_fare_plan.fare * passengers | currency:'EUR':true:'1.2-2') : "Travel instruction available, buy ticket elsewhere" }}</span>
        </p>
      </ion-col>
    </ion-row>

    <div class="passengers">
      <ion-row>
        <ion-col>
          <h6 text-center>Select number of passengers</h6>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="passenger-selector">
            <div class="remove" (click)="rmPassenger()"></div>
            <div class="indicator" text-center>
              <div class="badge">
                <p>{{ passengers }}</p>
              </div>
              <ion-icon name="ios-person"></ion-icon>
            </div>
            <div class="add" (click)="addPassenger()"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row text-center>
        <ion-col>
          <h5>€{{ fare }} x
            <ion-icon name="ios-person-outline"></ion-icon>
            {{ passengers }} = €{{ total_fare }}
          </h5>
        </ion-col>
      </ion-row>
    </div>
    <button full (click)="confirmation()">Buy ticket</button>
  </div>
</ion-content>
