.quotation {
  width: 100%;
  height: 100%;
  .map-container {
    position: relative;
    float: left;
    width: 100%;
    height: 50%;
    z-index: 1;
  }
  .journey-details {
    margin: 0;
    font-size: 9pt;
    span:nth-last-child(1){
      .arrow {
        display: none;
      }
    }
    h2 {
      margin: 2px 0;
      font-size: 1.6rem;
      font-weight: normal;
    }
    ion-icon {
      color: #666;
    }
    .passengers {
      position: relative;
      float: left;
      width: 100%;
      height: 50%;
      background: #f1fafe;
      color: #818285;
      .passenger-selector {
        width: 234px;
        position: relative;
        margin: auto;
        .remove, .add {
          width: 52px;
          height: 52px;
          position: relative;
          margin-top: 24px;
          float: left;
          -webkit-border-radius: 26px;
          -moz-border-radius: 26px;
          border-radius: 26px;
          background: #71d0f4;
          -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
        }
        .remove:after {
          content: '';
          width: 26px;
          height: 2px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          position: absolute;
          top: 25px;
          left: 13px;
          background: #ffffff;
        }
        .add:before {
          content: '';
          width: 2px;
          height: 26px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          position: absolute;
          top: 13px;
          left: 25px;
          background: #ffffff;
        }
        .add:after {
          content: '';
          width: 26px;
          height: 2px;
          -webkit-border-radius: 1px;
          -moz-border-radius: 1px;
          border-radius: 1px;
          position: absolute;
          top: 25px;
          left: 13px;
          background: #ffffff;
        }
        .indicator {
          width: 100px;
          height: 100px;
          position: relative;
          float: left;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          border-radius: 50px;
          background: #ffffff;
          margin: 0 15px 0 15px;
          -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          -moz-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
          .badge {
            width: 40px;
            height: 40px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            background: #ffdc3a;
            position: absolute;
            top: -10px;
            right: -10px;
            p {
              color: #ffffff;
              font-size: 20pt;
              margin: 4px 0 0 0;
            }
          }
          ion-icon {
            font-size: 66pt;
            color: #71d0f4;
          }
        }
      }
    }
    button {
      width: 100%;
      height: 56px;
      bottom: 0;
      background: #1ac1f1;
      margin: 0;
      &:hover {
        background-color: #1ac1f1;
      }
    }
  }
  .journey-details:nth-last-child(1){
    margin-top: 12px;
  }
}
