<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Terms and Conditions</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="terms" padding>

    <p>FireFly is an application of Data-Lab B.V., registered with the Chamber of Commerce under number 59087757 0000 000028408217. We propose you to read the Terms & Conditions carefully before you agree with these to finish your registration at the application FireFly. </p>
    <p>If you do not agree to these Terms, you can’t access or use the Services of FireFly.</p>

    <h1>General</h1>
    <p>FireFly is an application that can be used to plan, book and pay for travelling by public transport. After registration and receiving your account, you can book and pay for public transport trips via the FireFly Platform. Payments are made using the payment method associated with the account. Once you bought your ticket, you can enter the appropriate public transport vehicle. The ticket on your mobile device can be shown to an inspector to demonstrate that you are entitled to travel. </p>

    <h1>Payments</h1>
    <p>All payments are managed via the app, using your preferred method of payment and in your preferred currency. You understand that use of the Services may result in charges to you for the services you receive from a Third Party Provider. All Charges are due immediately and FireFly will facilitate the payment. FireFly will send you a receipt by email.</p>

    <h1>Intellectual Property</h1>
    <p>The copyright, design and content of the application FireFly belong to Data-Lab B.V. FireFly is a brand. Company names as mentioned in the application are brands of the concerned companies. All these brands and logos are only used for the purpose of the application, and not reproduced without prior permission from Data-Lab B.V..</p>

    <h1>Your information</h1>
    <p>FireFly provides you with the ability to access and edit your personal information. To update your personal info, click Account in the FireFly menu. There you can view, update and correct your account information. Our databases automatically update any personal information you edit in your profile, or if you request us to edit your personal information. </p>

    <h1>Modifications</h1>
    <p>We reserve the right to modify the Terms & Conditions at any time, effective upon posting the amended terms on this site and via the application. If we make changes, we will notify you by, at a minimum, revising the “Last Updated” date at the top of these Terms & Conditions. Supplemental terms may apply to certain Services, and such supplemental terms will be disclosed to you in connection with the applicable Services.</p>

    <h1>Notices and Complaints</h1>
    <p>Except when explicitly stated otherwise, any messages to FireFly shall be sent by e-mail via james@get-firefly.com. Any notices to you shall be provided to you through the FireFly Platform or given to you via the e-mail address you provide to FireFly during the registration process. To resolve a complaint regarding the FireFly Platform, you should always contact our service desk at james@get-firefly.com.</p>

    <h1>Applicable Law </h1>
    <p>These Terms & Conditions are governed by and construed in accordance with the laws of the Netherlands; the competent court is “court Midden Nederland”. </p>

</ion-content>
