<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Feedback</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <form [formGroup]="feedbackForm" (submit)="onSubmit()">
        <ion-list class="feedback-list">
            <ion-item>
                <ion-label stacked >Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label stacked >E-mail</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>
            <ion-item class="textfield">
               <ion-label stacked >Feedback</ion-label>
               <ion-textarea rows="8" formControlName="feedback"></ion-textarea>
            </ion-item>
            <button ion-button type="submit" class="send-button" [disabled]="!feedbackForm.valid">
                Send
            </button>
        </ion-list>
    </form>
</ion-content>

