<div class="braintree">

    <ion-list *ngIf="!cardSelectVisible">
        <ion-list-header>
            Current payment method
        </ion-list-header>

        <div class="currentcard">
            <ion-item>
                <ion-icon name="card" item-left></ion-icon>
                <b>{{ profile.card.payment_method_type }}</b> <br>
                ending in {{ profile.card.payment_method_desc }}
                <ion-icon name="close" item-right (click)="removeCard()"></ion-icon>
            </ion-item>
        </div>
    </ion-list>

    <ion-list *ngIf="cardSelectVisible">
        <ion-list-header>
            Select new payment method
        </ion-list-header>

        <div class="newcard" >
            <form id="addcard-form" (submit)="addCard($event)">
                  <div id="addcard-container"></div>
                  <button type="submit" full>Add payment method to firefly</button>
            </form>
        </div>
    </ion-list>
</div>
