<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Privacy Policy</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="privacy" padding>
    <p>To serve you well, we use certain personal data and information about you. FireFly is an application from Data-Lab B.V., located at Stationsplein 61, 3818 LE Amersfoort. Data-Lab B.V. takes your privacy seriously.
    FireFly collects personal data and information about you when you use our mobile application or visit our website (together called “Services”) and through interactions and communications you have with us. By registering you agree with FireFly, in accordance to the Terms and Conditions, to consent the processing of your data by Data-lab as described in this privacy statement.
    This Privacy Statement (“Statement") applies to all natural persons when they make use of our Services (“Users”).</p>

    <h1>Personal data we collect from you</h1>
    <p>We will collect personal data and information from you. The personal data and information we process fall into the following general categories:</p>
    <ul>
        <li><span>Personal information. </span>This includes your name, postal address, phone number, credit/debit card information, e-mail address, gender, username, date of birth, and IP address. </li>
        <li><span>Location Information. </span>When you permit FireFly to access location data on your mobile operating system we record the precise location of your device when the app is running in the foreground or background of the application. We may also derive your approximate location. This can be done by GPS, IP or a different way to approximate where you are. Your location information is necessary for the use of FireFly. </li>
        <li><span>Transaction Information. </span>We will collect transaction details related to your use of FireFly Services, including the type of Service requested, date and time the Service was provided, the amount that was charged, the distance you traveled and where from and to you travelled. </li>
        <li><span>Device Information. </span>We may collect information about your mobile device, for example the hardware model, operating system and version, software and file names and versions, preferred language, unique device identifier, advertising identifiers, serial number, device motion information and mobile network information.</li>
    </ul>

    <h1>How we use the personal data we collect from you</h1>
    <p>We may use the personal data we collect from you to:</p>
    <ul>
        <li>Provide, maintain, and improve our Services, for example to facilitate payments, send receipts, develop new features, provide you with customer support, improve safety features, authenticate you and send product updates and administrative messages;</li>
        <li>Perform internal operations, for example to prevent fraud and abuse of our Services, to troubleshoot software bugs and operational problems, to conduct data analysis, testing, and research and to monitor and analyze usage and activity trends;</li>
        <li>Send or facilitate communications between you and the Operator(s), such as estimated times of arrival.</li>
        <li>Send messages to you, for example information, promotions and news about the application, products or services we offer.</li>
        <li>Personalize and improve the Services, for example to provide or recommend features, content, social connections, referrals and advertisements.</li>
    </ul>

    <h1>Sharing Information with third parties</h1>
    <p>We may share the personal data and information we collect from you as described in this Statement or as described at the time of collection, including:</p>
    <ul>
        <li>With third parties to provide you a service you requested through a partnership or promotional offer made by a third party or us;</li>
        <li>With third parties with whom you choose to let us share information, for example other apps or websites that integrate with our application programming interface (API) or Services, or those with an API or Service with which we integrate.</li>
    </ul>

    <h1>Storage personal data</h1>
    <p>Data-lab shall retain your personal information. You can unsubscribe from FireFly by sending an email to james@get-firefly.com. As soon as you unsubscribe, we shall no longer receive personal information from you and your personal information shall be deleted from our database unless we have fiscal obligations to storage information.</p>

    <h1>Security</h1>
    <p>In accordance with the requirements of the Data Protection Act (Article 13 “WBP” in Dutch Law) FireFly shall ensure for an adequate and appropriate level of security.</p>

    <h1>Right to access, correction and deletion</h1>
    <p>You can exercise your right to access, correction or deletion with Data-Lab B.V. Any notices to you shall be provided through the FireFly Platform or via the e-mail address you have provided to FireFly during the registration process. Withdrawal of consent and right to object.</p>
    <p>Where you have given your consent for us to process your personal data, FireFly provides you the opportunity to withdraw your consent any time. Where processing takes places for other purposes done for the legitimate interest of Firefly, you have the right to request FireFly to no longer process your data. Firefly will give you the option to have your information removed from our database and to not receive our Service or any other form of communication any longer. </p>
    <p>Except as explicitly stated otherwise, all requests or questions to FireFly shall be lodged by email to: james@get-firefly.com.</p>

    <h1>The FireFly Website and Your Privacy</h1>
    <p>The FireFly website places some cookies on your computer. These cookies have two objectives: 1) to improve the ease of surfing the site, 2) to get insight into how our site is used and how we can improve the site (through analytics). We emphatically do not use cookies to follow you or make commercial offers.</p>

    <h1>Personal Information Authority</h1>
    <p>FireFly has a DPA notification.</p>

</ion-content>
