.privacy {
    color:#666;
    p {
        color:#666;
        line-height: 1.5;
    }

    h1 {
        font-size: 1.6rem;
        font-weight: bold;
    }

    ul {
        padding: 0 6vw;
        span {
            font-weight: bold;
        }
        li {
            padding: 1vh 0;
            line-height: 1.5;
        }
    }
}

