.history-list {
    color: #666;
    font-size: 1.4rem;

    .journey {
        margin-top: 2vh;
        margin-bottom: 3vh;
    }
    .date {
        padding: 0 2vw 0 10vw;
        text-align: center;
        p {
          font-size: 1.8rem;
        }
    }

    .info {
        margin-bottom: 3vh;
        span {
            margin-right: 3vw;
            text-align: center;
            padding: 5px 9px 5px 0;
            background-color: #F6F6F6;
            i {
                padding: 5px 9px;
                margin-right: 1vw;
                color: #fff;
            }
            &.pay i {
                background-color: #ffdc3a;
            }
            &.persons i {
                background-color: #1AC1F1;
            }
        }
    }

    .transit {
        margin-bottom: 2vh;
        ion-icon {
            padding: 0 4px;
        }
        span:nth-last-child(1){
            .arrow {
            display: none;
            }
        }
    }
}
