<ion-header>
  <ion-navbar>
    <ion-title>History</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >
<ion-list>
  <ion-item class="history-list" *ngFor="let list of historyList">
      <div class="journey">
        <p>From: {{ list.origin }}</p>
        <p>To: {{ list.destination }}</p>
      </div>
      <div class="info">
        <span class="pay"><i class="fa fa-eur"></i> {{ list.transit_fare }} </span>
        <span class="persons"><i class="fa fa-male"></i> {{ list.n_persons }} </span>
      </div>
      <div class="transit">
        <span class="transit-modes" *ngFor="let mode of list.transitModes">
            <ion-icon [name]="mode.icon"></ion-icon>{{ mode.text }}
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
        </span>
      </div>
      <div class="date" item-right>
        <p>{{ list.date_created | date:'d' }}</p>
        <p>{{ list.date_created | date:'MMM' }}</p>
      </div>
  </ion-item>
</ion-list>
</ion-content>