.planner {
  .origin {
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    width: 90%;
    &:focus{
      border-bottom: 2px solid rgba(255, 255, 255, .6);
    }
  }

  .text-input-clear-icon {
    display: inline-block;
    width: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,<svg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20512%20512'><polygon%20fill='%23fff'%20points='405,136.798%20375.202,107%20256,226.202%20136.798,107%20107,136.798%20226.202,256%20107,375.202%20136.798,405%20256,285.798%20375.202,405%20405,375.202%20285.798,256'/></svg>");
  }

  .location{
    margin-top: 34px;
    margin-bottom: 1vh;
    & i {
      padding-right: 3vw;
      color: #387ef5;
    }
  }

  .background {
    width: 100vw;
    animation: slideHeader;
    -webkit-animation-fill-mode: forwards;
    animation-duration: .7s;
    animation-delay: .2s;
    background-color: #1AC1F1;
    position: relative;
    &.closed {
      animation: hideHeader;
      -webkit-animation-fill-mode: forwards;
      animation-duration: .3s;
      &:before {
        content: '';
        opacity: 0;
        background-color: #1AC1F1;
      }
    }
    &:before {
      content: '';
      height: 60vw;
      width: 120vw;
      position: absolute;
      bottom: 0;
      opacity: 1;
      margin-left: -10vw;
      border-radius: 60vw 60vw 0 0;
      -moz-border-radius: 60vw 60vw 0 0;
      -webkit-border-radius: 60vw 60vw 0 0;
      background: #71D0F4;
    }
    &:after {
      content: '';
      position: absolute;
      width: 20vw;
      height: 20vw;
      bottom: 50vw;
      left: 40vw;
      border-radius: 10vw;
      background-color: #FFDC3A;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
      animation: circle 1.2s;
      transform-origin: 50% 70vw;
      transform: rotate(35deg);
    }
    .sky {
      position: absolute;
      bottom: 0;
      height: 45vw;
      width: 90vw;
      margin-left: 5vw;
      border-radius: 45vw 45vw 0 0;
      -moz-border-radius: 45vw 45vw 0 0;
      -webkit-border-radius: 45vw 45vw 0 0;
      background: #90D8F6;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        height: 30vw;
        width: 60vw;
        margin-left: 15vw;
        border-radius: 30vw 30vw 0 0;
        -moz-border-radius: 30vw 30vw 0 0;
        -webkit-border-radius: 30vw 30vw 0 0;
        background: #ACE1F8;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        height: 15vw;
        width: 30vw;
        margin-left: 30vw;
        border-radius: 15vw 15vw 0 0;
        -moz-border-radius: 15vw 15vw 0 0;
        -webkit-border-radius: 15vw 15vw 0 0;
        background: #C7EAFA;
      }
    }
  }
  .input-container {
    animation-name: slideInput;
    -webkit-animation-fill-mode: forwards;
    animation-duration: .7s;
    position: relative;
    z-index: 999;
    .ion-searchbar > .searchbar-input-container > input {
      width: 100%;
      height: 50px;
      padding: 0;
      font-size: 2rem;
      text-align: center;
      border: none;
    }
    ion-list {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
    }
    &.focus {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        animation-name: appendHeader;
        -webkit-animation-fill-mode: forwards;
        animation-duration: .3s;
      }
    }
  }
  .suggestions {
    &.closed {
      animation-name: hideElement;
      -webkit-animation-fill-mode: forwards;
      animation-duration: .5s;
      animation-delay: .5s;
    }
    ion-list-header {
      border: none;
    }
    ion-item {
      animation-name: slideItemsUp;
      -webkit-animation-fill-mode: forwards;
      animation-duration: .5s;
      &:nth-child(1) {
        -webkit-animation-delay: .1s
      }
      &:nth-child(2) {
        -webkit-animation-delay: .2s
      }
      &:nth-child(3) {
        -webkit-animation-delay: .3s
      }
      &:nth-child(4) {
        -webkit-animation-delay: .4s
      }
    }
  }
  .map {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    &.closed {
      top: 100vh;
      height: 0;
    }
    &.open {
      animation-name: slideMap;
      -webkit-animation-fill-mode: forwards;
      animation-duration: .5s;
    }
  }
  map {
    &.closed {
      display: none;
    }
    map {
      &.closed {
        display: none;
      }
    }
  }
  .travel-options {
    width: 100%;
    height: 30%;
    position: absolute;
    overflow: auto;
    z-index: 999;
    bottom: 0;
    left: 0;
    background: #fff;
    &.closed {
      display: none;
    }
    ion-list {
      h2 {
        padding: 5px 0 3px 0;
      }
      margin-bottom: 0;
      .journey-details {
        font-size: 9pt;
        span:nth-last-child(1){
          .arrow {
            display: none;
          }
        }
        i {
          padding-right: 5px;
        }
        ion-icon {
          padding-right: 5px;
          color: #666;
          &.arrow {
            padding: 0 5px;
          }
        }
      }
      .journey-details:nth-last-child(1){
        margin-top: 12px;
      }
    }
    ion-icon {
      color: #1AC1F1;
    }
  }
}

@keyframes slideHeader {
  0% {
    height: 100vh
  }
  100% {
    height: 70vw
  }
}

@keyframes hideHeader {
  0% {
    height: 70vw
  }
  100% {
    height: 30px;
    background-color: #90D8F6;
  }
}

@keyframes slideItemsUp {
  from {
    margin-top: 1000px
  }
  to {
    margin-top: 0
  }
}

@keyframes slideItemsDown {
  from {
    margin-top: 0
  }
  to {
    margin-top: 1000px;
  }
}

@keyframes slideMap {
  from {
    top: 100vh
  }
  to {
    top: 0;
  }
}

@keyframes slideInput {
  from {
    margin-top: 1000px
  }
  to {
    margin-top: -45px;
  }
}

@keyframes appendHeader {
  0% {
    height: 0;
    background-color: #1AC1F1;
    left: 0;
    top: 15px;
  }
  100% {
    height: 28px;
    background-color: #1AC1F1;
    left: 0;
    top: 15px;
  }
}

@keyframes circle {
  0% {
    transform: rotate(90deg)
  }
  100% {
    transform: rotate(35deg)
  }
}

@keyframes hideElement {
  100% {
    display: none;
  }
}
