<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-input #input type="input" class="origin" value="{{currentLocation}}" (input)="changeOrigin($event.target.value)" (focus)="focusOrigin(input); hideHeader = true; showMap = true;" text-center clearInput></ion-input>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="planner">
  <div class="background" [ngClass]="{closed: hideHeader}">
    <div class="sky"></div>
  </div>
  <div class="input-container" padding [ngClass]="{focus: showMap}">
    <ion-list no-padding *ngIf="originChange">
      <ion-item class="location" (click)="onSelectOrigin(yourLocationText)">
        <i class="fa fa-location-arrow"></i>
        {{ yourLocationText }}
      </ion-item>
      <ion-item *ngFor="let result of originPredictions" (click)="onSelectOrigin(result)">
        {{ result }}
      </ion-item>
    </ion-list>

    <ion-list no-padding *ngIf="!originChange">
      <ion-searchbar class="input" [value]="selectedDestination" placeholder="Where do you want to go?" (ionClear)="onClear()" (ionCancel)="onCancel()"
                     (click)="onSearchBarClick(); hideHeader = true; showMap = true;" (search)="onEnterKey($event)" (ionInput)="doSearch($event)"
                     debounce=400>
      </ion-searchbar>

      <ion-item *ngFor="let result of listPredictions" (click)="onSelectDestination(result)">
        {{ result }}
      </ion-item>

    </ion-list>
  </div>
  <div class="suggestions" [ngClass]="{closed: showMap}" padding>
    <ion-list>
      <ion-list-header text-center>
        Suggestions based on your location and history.
      </ion-list-header>
      <ion-item *ngFor="let place of plannerService.recentPlaces" (click)="hideHeader = true; showMap = true; onSelectDestination(place); pleaseShowMap()">
        {{place}}
      </ion-item>

    </ion-list>
  </div>
  <div class="map" [ngClass]="{closed: !showMap, open: showMap}" (click)="onMap()">
    <map [ngClass]="{closed: !showMap}">
    </map>
  </div>
  <div class="travel-options" [ngClass]="{closed: !is_journey}" *ngIf="is_journey">
    <ion-list>
      <!-- FIREFLY -->
      <ion-item (click)="journey.request.checkin_possible ? confirmCheckIn() : showTravelDetails()">
        <h2>
          <span>{{ journey.request.transit_departure_time | slice:11:16 }} with public transport</span>
        </h2>

        <p class="journey-details">
          <span *ngFor="let mode of transitModesList">
            <ion-icon [name]="mode.icon"></ion-icon>{{ mode.text }}
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
          </span>
        </p>
        <p class="journey-details">
          <span><ion-icon name="ios-time-outline"></ion-icon> {{ journey.request.transit_duration / 60 | roundtime }} min</span>
          <span>{{ journey.plan.transit.total_fare_plan.fare ? (journey.plan.transit.total_fare_plan.fare * passengers | currency:'EUR':true:'1.2-2') : "Travel instruction available, buy ticket elsewhere" }}</span>
        </p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>

      <!--UBER-->
      <ion-item *ngIf="journey.plan.uber" (click)="onUber()">
        <h2>
          <span>Uber X</span>
          <span>
            <!--Todo: Clock and other info-->
          </span>
        </h2>
        <p class="journey-details">
          <span *ngIf="journey.request.uber_response_time">
            <i class="fa fa-hourglass-half"></i> {{ journey.request.uber_response_time / 60 | roundtime }} min
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
          </span>
          <span>
            <ion-icon name="md-car"></ion-icon> {{ journey.plan.uber.response.duration / 60 }} min
          </span>
          <span *ngIf="!journey.request.uber_response_time">
            + unknown wait time
          </span>
        </p>
        <p class="journey-details">
          <span>
            <ion-icon name="ios-time-outline"></ion-icon> {{ journey.request.uber_duration / 60 | roundtime }} min
          </span>
          <span>
            {{ uber_estimation  | currency:'EUR':true:'1.0-2' }}
          </span>
        </p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>

      <!--Abel-->
      <ion-item *ngIf="journey.plan.abel" (click)="onAbel()">
        <h2>
          <span>Abel</span>
          <span>
            <!--Todo: Clock and other info-->
          </span>
        </h2>
        <p class="journey-details">
          <span *ngIf="journey.plan.abel.response.response_time">
            <i class="fa fa-hourglass-half"></i> {{ journey.plan.abel.response.response_time / 60 | roundtime }} min
            <ion-icon class="arrow" name="arrow-forward"></ion-icon>
          </span>
          <span>
            <ion-icon name="md-car"></ion-icon> {{ journey.plan.abel.response.duration / 60 | roundtime}} min
          </span>
          <span *ngIf="!journey.plan.abel.response.response_time">
            + unknown wait time
          </span>
        </p>
        <p class="journey-details">
          <span>
            <ion-icon name="ios-time-outline"></ion-icon> {{ journey.plan.abel.response.duration / 60 | roundtime }} min
          </span>
          <span>
            {{ journey.plan.abel.response.price  | currency:'EUR':true:'1.0-2' }}
          </span>
        </p>
        <ion-icon name="arrow-forward" item-right></ion-icon>
      </ion-item>

    </ion-list>
  </div>
</ion-content>
