.itinerary {
  ion-list {
    ion-item {
      z-index: 10;
      .icon {
        width: 15%;
        position: relative;
        float: left;
        ion-icon {
          position: relative;
          float: left;
        }
        small {
          width: 37px;
          margin-top: 3px;
          text-align: center;
          position: relative;
          float: left;
        }
      }
      .details {
        width: 85%;
        position: relative;
        float: left;
        font-size: 10pt;
        margin-top: 2px;
      }
      &:before {
        content: '';
        width: 2px;
        height: 20px;
        position: absolute;
        left: 20px;
        bottom: 0;
        z-index: 999;
        margin-bottom: -8px;
        border-left: 1px dotted #000;
      }
      &:after {
        content: '';
        width: 2px;
        height: 20px;
        position: absolute;
        left: 20px;
        top: 0;
        z-index: 999;
        margin-top: -8px;
        border-left: 1px dotted #000;
      }
      &:nth-child(1):after, &:nth-last-child(1):before {
        content: '';
        width: 1px;
        height: 1px;
        border: none;
      }
    }
  }
}
