<div class="itinerary">
  <ion-list no-lines>
    <ion-item class="step" *ngFor="let step of itinerary" >
      <span class="icon">
        <ion-icon  [name]="step.icon"></ion-icon> <small>{{step.info}}</small>
      </span>
      <span *ngIf="step.departureEpoch>0" class="details">
      {{ step.departureEpoch*1000 | date:"HH:mm" }} 
    </span>
    <span class="details">
      {{step.direction}}
    </span>
    </ion-item>
  </ion-list>
</div>
