<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Account</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <authentication></authentication>
  <payment></payment>
    <div padding *ngIf="httpService.is_authenticated">
        <button full danger (click)="logout($event)"  >Logout</button>
    </div>

</ion-content>