.authentication {
  ion-list > .item:first-child, ion-list > .item-wrapper:first-child .item {
    border-top: none;
  }
  ion-segment-button:nth-child(2) {
    color: #69BB7B;
    &.segment-activated {
      color: #69BB7B;
      border-color: #69BB7B;
    }
  }
  .toggle {
    padding-top: 1vh;
    padding-bottom: 1vh;
    color: #666;
    ion-toggle {
      margin-right: 4vw;
    }
    span {
      color: #666;
      text-decoration: none;
      font-weight: bold;
    }
  }
  .privacy {
    padding: 3vh 12vw 0 12vw;
    text-align: center;
    font-style: italic;
    span {
      font-weight: bold;
    }
  }
}