<div class="authentication">
  <div *ngIf="!httpService.is_authenticated">
    <div padding>
      <ion-segment [(ngModel)]="authenticationMode">
        <ion-segment-button value="login">
          Login
        </ion-segment-button>
        <ion-segment-button value="sign up">
          Sign up
        </ion-segment-button>
      </ion-segment>
    </div>
    <div [ngSwitch]="authenticationMode">
      <form [formGroup]="loginForm" (submit)="onLogin($event)">

        <ion-list *ngSwitchCase="'login'">

          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
          <div padding>
            <button full type="submit" [disabled]="!loginForm.valid">
              Log in
            </button>

<!--             <div *ngIf="socialSignIn">

              <p text-center>OR</p>

              <button type="button" full facebook (click)="socialSigninAlert()">
                <ion-icon name="logo-facebook"></ion-icon>
                Log in with Facebook
              </button>

              <button type="button" full twitter (click)="socialSigninAlert()">
                <ion-icon name="logo-twitter"></ion-icon>
                Log in with Twitter
              </button>

            </div> -->
          </div>
        </ion-list>
      </form>

    <form  *ngSwitchCase="'sign up'" [formGroup]="signupForm" (submit)="onSignUp($event)">
      <ion-list >

        <ion-item>
          <ion-label stacked>First name (optional)</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Last name (optional)</ion-label>
          <ion-input type="text" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="privacy" text-wrap no-lines>
            <p>By logging into this app, you give FireFly consent to process your personal data for using the FireFly app. See our <span (click)="openPrivacy()">Privacy Policy</span> for further information.</p>
        </ion-item>

        <ion-item class="toggle" no-lines>
          <ion-label>I accept the <span (click)="openTerms()">Terms & Conditions</span></ion-label>
          <ion-toggle item-left formControlName="cb"></ion-toggle>
        </ion-item>

        <div padding>
          <button full type="submit" [disabled]="!signupForm.valid || !signupForm.controls.cb.touched">
            Sign up
          </button>
        </div>

      </ion-list>
      </form>
    </div>
  </div>
  <div *ngIf="httpService.is_authenticated">
    <ion-list>
      <ion-list-header text-center>
        personal details
      </ion-list-header>

      <ion-item>
        <!--<ion-avatar item-left>
          <img src="build/images/avatar.jpg">
        </ion-avatar>-->
        <h2>{{ httpService.profile.first_name }} {{ httpService.profile.last_name }}</h2>
        <p>{{ httpService.profile.email }}</p>
        <p>Hardcore public transit user</p>
        <!-- <ion-icon name="brush" item-right></ion-icon> -->
      </ion-item>
    </ion-list>
  </div>
</div>