.map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
  #center_location_button{
    background-color : transparent;

    z-index: 1000;
    color: rgba(0, 0, 0, 0.5);
    &.centeringOnLocation { color: rgba(0, 0, 255, 0.5); }
    position: absolute;
    font-size: 32 ;
    bottom: 20px;
    right: 10px;
    // height: 70px;
    // width: 70px;
    font-size: 22px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);

}

