<div class="payment">
  <div *ngIf="httpService.is_authenticated">
    <braintree></braintree>

    <ion-list>
      <ion-list-header text-center>
        balance {{ currency }}{{ httpService.profile.wallet.balance }}
      </ion-list-header>
      <form [formGroup]="voucherForm" (submit)="onVoucher($event)">
      <ion-row padding class="voucher-form">
        <ion-col >
          <input class="voucher-input" formControlName="voucher" type="text" placeholder="voucher code here"/>
          <!--<ion-input type="number" ngControl="voucher" placeholder="1234567"></ion-input>-->
        </ion-col>
      </ion-row>
      <div padding>
        <button type="submit" full>
          redeem voucher
        </button>
      </div>
      </form>
    </ion-list>

  </div>
</div>