.payment {
  .voucher-input {
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 2rem;
    text-align: center;
    border: none;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
  }
}